.container {
    text-align: center;
  }

  .container h1 {
    background: #222;
    color: rgb(88, 76, 76);
    padding: 1rem;
    border-radius: 0.55rem;
    margin-bottom: 2.5rem;
  }
  .color {
    color: hsl(205, 78%, 60%);
  }

  